In [1]:
import pandas as pd

In [32]:
# Load data
df = pd.read_csv('../data/ExportSales.csv')
print(df.head())

        ID        Date   Category  Invoice Number  Product Code  \
0  2529604  28/04/2019  Category5             267      30011006
1  2529605  29/04/2019  Category5             302      30011006
2  2529606  13/05/2019  Category5             507      30011006
3  2529607  01/06/2019  Category5             795      30011006
4  2529608  03/07/2019  Category5            1184      30011006

   Customer Code Destenation  QTY  Total Price
0            612         IRQ  750    3334.8225
1            514         BHR  400    3032.8240
2            513         BHR  100     749.9520
3              5         SYC  100     556.8170
4            560         AFG   20      39.4460

### Rename

In [36]:
df.rename({'Destenation': 'Destination'}, axis=1, inplace=True)
df.head()

,ID,Date,Category,Invoice Number,Product Code,Customer Code,Destination,QTY,Total Price
0,2529604,28/04/2019,Category5,267,30011006,612,IRQ,750,3334.8225
1,2529605,29/04/2019,Category5,302,30011006,514,BHR,400,3032.8240
2,2529606,13/05/2019,Category5,507,30011006,513,BHR,100,749.9520
3,2529607,01/06/2019,Category5,795,30011006,5,SYC,100,556.8170
4,2529608,03/07/2019,Category5,1184,30011006,560,AFG,20,39.4460

### Date Format

In [37]:
# Change date formats (just to ensure all are in same format)

# To confirm the current date format and type
print(df['Date'].head())

# Are there any rows with different date formats or non-date entries
#print(df['Date'].unique())

# Convert date strings to datetime objects
#df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

0    28/04/2019
1    29/04/2019
2    13/05/2019
3    01/06/2019
4    03/07/2019
Name: Date, dtype: object

### Missing Values

In [38]:
# Number of missing values per column
print(f"Total missing values in each column in the DataFrame: {df.isnull().sum()}")

total_missing = df.isnull().sum().sum()
print(f"Total missing values in the DataFrame: {total_missing}")

Total missing values in each column in the DataFrame: ID                  0
Date                0
Category            0
Invoice Number      0
Product Code        0
Customer Code       0
Destination       110
QTY                 0
Total Price         0
dtype: int64
Total missing values in the DataFrame: 110

In [40]:
columns_with_missing_data = df.columns[df.isnull().any()].tolist()
print("Columns with missing data:")
print(columns_with_missing_data)

Columns with missing data:
['Destination']

In [44]:
# Remove rows with missing destination
#df = df.dropna(subset=['Destination'])

# Replace NaN destination or missing destination with 'Unknown'
df['Destination'] = df['Destination'].fillna('Unknown')

total_missing = df.isnull().sum().sum()
print(f"Total missing values in the DataFrame: {total_missing}")

Total missing values in the DataFrame: 0

### Duplicates

In [52]:
# Looking for duplicates (all instances, therefore: keep=False)
duplicates = df.duplicated(subset=['ID', 'Date', 'Invoice Number', 'Product Code'], keep=False)

# Display the duplicates
df_duplicates = df[duplicates]
print(df_duplicates)

Empty DataFrame
Columns: [ID, Date, Category, Invoice Number, Product Code, Customer Code, Destination, QTY, Total Price]
Index: []

### Data Integrity Checks

In [57]:
# Validate that 'Destination' field has valid country codes

# Load country codes
country_codes = pd.read_csv('../data/CountryCodes.csv')

country_codes.head()

# Create a list of valid country codes
valid_codes = country_codes['Alpha-3 code'].unique()

print(length(valid_codes))

AttributeError: 'numpy.ndarray' object has no attribute 'len'